[Unit]
Description=Route external traffic over ISP gateway
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/split-gateway/init-split-gateway.sh
ExecStartPost=/usr/bin/systemctl reload rebuild-split-gateway.service

[Install]
WantedBy=multi-user.target
