[Unit]
Description=Analyse UFW rules and set gateways for externaly opened ports
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/split-gateway/rebuild-split-gateway.sh
ExecReload=/bin/bash /etc/split-gateway/rebuild-split-gateway.sh init

[Install]
WantedBy=multi-user.target
