[Unit]
Description=Route external traffic over ISP gateway, external services are discovered via UFW rules
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/bin/split-gateway start
ExecReload=/bin/bash /usr/bin/split-gateway reload
ExecStop=/bin/bash /usr/bin/split-gateway stop

[Install]
WantedBy=multi-user.target
