[Unit]
Description=reload split-gateway.service if UFW rules are chnaged
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl reload split-gateway.service

[Install]
WantedBy=multi-user.target